.bg{
background-image: url('bg.jpg');
background-size: cover;
background-repeat: no-repeat;
position: fixed;
min-height: 100%;
min-width: 100%;
font-family: 'Numans', sans-serif;
}

.social {
    margin-left: 40px;
}

.card{
height: 70vh;
width: 30vw;
padding: 1%;
margin: 110px 10px 10px 440px;
text-align: center;
background-color: rgba(0,0,0,0.5) !important;
color: white;
}

.card-header h3{
color: white;
text-align: center;
}

.brand {
    font-size: 25px;
    margin-left: 50px;
    margin-top: 24px;
    position: absolute;
}