.bg{
background-image: url('bg2.jpg');
background-size: cover;
background-repeat: no-repeat;
position: fixed;
min-height: 100%;
min-width: 100%;
font-family: 'Numans', sans-serif;
}

.social {
    margin-left: 30px;
    margin-bottom: 10px;

}

.card{
height: 510px;
width: 450px;
padding: 1%;
margin: 150px 10px 10px 1100px;
text-align: center;
background-color: rgba(0,0,0,0.5) !important;
color: white;
}

.card-header {
color: white;
text-align: center;
font-size: 28px;
margin-bottom: 30px;
}

.card-body {
    margin-bottom: 10px;
}

.card-footer{
    margin-top: 180px;
    font-size: 18px;
}


.brand {
    font-size: 25px;
    margin-left: 50px;
    margin-top: 24px;
    position: absolute;
}

a {
    color: white;
}

a:hover {
    color: lemonchiffon;
}



@media only screen and (max-width: 1024px) {

    .card {
        height: 500px;
        width: 450px;
        margin: 200px 10px 10px 450px;
    }

    .card-header {
        font-size: 24px;
        margin-top: 20px;
        margin-bottom: 15px;
    }

    .card-footer {
        font-size: 18px;
        margin-top: 0px;
    }

    .social {
        margin: 0px;
        margin-bottom: 10px;
        }
    a {
        font-size: 16px;
        margin-top: 0px;
    }

    .btn {
        margin-left: 35px;
        margin-bottom: 15px;
    }
}

@media only screen and (max-width: 768px) {

    .card {
        height: 400px;
        width: 300px;
        margin: 150px 10px 10px 350px;
    }

    .card-header {
        font-size: 16px;
        margin-top: 20px;
        margin-bottom: 15px;
    }

    .card-footer {
        font-size: 12px;
        margin-top: 0px;
    }

    .social {
        margin: 0px;
        margin-bottom: 10px;
        }
    a {
        font-size: 10px;
        margin-top: 0px;
    }

    .btn {
        margin-left: 25px;
    }
}


@media only screen and (max-width: 480px) {

    .card {
        height: 390px;
        width: 250px;
        margin: 105px 10px 10px 20px;
    }

    .card-header {
        font-size: 16px;
        margin-top: 20px;
        margin-bottom: 15px;
    }

    .card-footer {
        font-size: 10px;
        margin-top: 0px;
    }

    .social {
        margin: 0px;
        margin-bottom: 10px;
        }
    a {
        font-size: 10px;
        margin-top: 0px;
    }
}